## ðŸ”¤ Variables and Data Types

In [1]:
# âœ… What is a variable?
# A variable stores data in memory that can be used and changed later.
# Variables can hold different types of data like numbers, text, or boolean values.

# ðŸ’¡ Use variables to label and manage data during your program execution.
# Example:
name = "Alice"        # string
age = 25              # integer
height = 5.6          # float
is_student = True     # boolean

print("Name:", name, " type is ", type(name))
print("Age:", age, " type is ", type(age))
print("Height:", height, " type is ", type(height))
print("Is student:", is_student, " type is ", type(is_student))

Name: Alice  type is  <class 'str'>
Age: 25  type is  <class 'int'>
Height: 5.6  type is  <class 'float'>
Is student: True  type is  <class 'bool'>

## ðŸ”„ Type Conversion

In [ ]:
# âœ… What is type conversion?
# Converting one data type to another (e.g., int to float).
# ðŸ’¡ Useful when working with user input, file data, or APIs that return strings.

# Example conversions:
age_as_float = float(age)               # int to float
height_as_str = str(height)            # float to string
is_student_as_int = int(is_student)    # bool to int (True -> 1)
year_str = "2025"
year_int = int(year_str)               # string to int

print("Age as float:", age_as_float, " type is ", type(age_as_float))
print("Height as string:", height_as_str, " type is ", type(height_as_str))
print("Is student as int:", is_student_as_int, " type is ", type(is_student_as_int))
print("Year as int:", year_int, " type is ", type(year_int))

In [ ]:
# BASIC OPERATIONS
a = 10
b = 3
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Power:", a ** b)
print("Modulus (remainder):", a % b)

In [3]:
# STRINGS
greeting = "Hello"
target = "World"
message = greeting + " " + target + "!"
print(message)
print("Length of message:", len(message))
print("Uppercase:", message.upper(), "\n")

multilineString = """This is a test string
to show how multiline strings
work in python"""
print(multilineString)

Hello World!
Length of message: 12
Uppercase: HELLO WORLD!

This is a test string
to show how multiline strings
work in python

In [4]:
print(multilineString[0], multilineString[1], multilineString[2], multilineString[3])

T h i s

In [5]:
print(len(multilineString))

66

In [6]:
print("work" in multilineString)
print("stone" in multilineString)

True
False

In [ ]:
# IF-ELSE STATEMENTS
if age < 20:
    print("Age is less than 20")
else:
    print("Age is greater than 20")

number = 7
if number % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Age is greater than 20
Odd number

In [ ]:
# LOOPS
# For loop
for i in range(5):
    print("Counting:", i)

In [ ]:
# While loop
count = 0
while count < 3:
    print("While loop count:", count)
    count += 1

In [ ]:
# LISTS
fruits = ["apple", "banana", "cherry"]
print("First fruit:", fruits[0])
fruits.append("orange")
print("All fruits:", fruits)

First fruit: apple
All fruits: ['apple', 'banana', 'cherry', 'orange']

In [ ]:
# Loop through list
for fruit in fruits:
    print("Fruit:", fruit)

Fruit: apple
Fruit: banana
Fruit: cherry
Fruit: orange

In [ ]:
# IMPORTING MODULES
import math
print("Square root of 16 is", math.sqrt(16))

In [ ]:
# IMPORTING MODULES  - RANDOM
import random

number = random.randint(1, 10)
print("Random number between 1 and 10:", number)

In [7]:
name = input("What is your name? ")
print("Nice to meet you,", name)

Nice to meet you,

In [ ]:
import numpy as np

# Define two arrays
a = np.array([10, 20, 30])
b = np.array([1, 2, 3])

print("Addition:", a + b)          # [11, 22, 33]
print("Subtraction:", a - b)       # [ 9, 18, 27]
print("Multiplication:", a * b)    # [10, 40, 90]
print("Division:", a / b)          # [10.0, 10.0, 10.0]
print("Power:", a ** b)            # [10^1, 20^2, 30^3]

print("a + 5:", a + 5)             # [15, 25, 35]
print("a * 2:", a * 2)             # [20, 40, 60]
print("a / 10:", a / 10)           # [1.0, 2.0, 3.0]

print("Sum:", np.sum(a))           # 60
print("Mean:", np.mean(a))         # 20.0
print("Max:", np.max(a))           # 30
print("Min:", np.min(a))           # 10
print("Standard Deviation:", np.std(a))  # ~8.16

Addition: [11 22 33]
Subtraction: [ 9 18 27]
Multiplication: [10 40 90]
Division: [10. 10. 10.]
Power: [   10   400 27000]
a + 5: [15 25 35]
a * 2: [20 40 60]
a / 10: [1. 2. 3.]
Sum: 60
Mean: 20.0
Max: 30
Min: 10
Standard Deviation: 8.16496580927726